*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    text-align: center;
    background-color: #6a9eff;
    
}
.container{
    height: 70vh;
    /* width: 70vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 10%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    font-size: 10vmin;
    color: #00ff00;
    font-weight: 700;
    background-color: #fff;
}
#resbtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #0000006b;
    color: #fff;
    border-radius: 10%;
    border: none;
}
/* win */

.new-game{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #0000006b;
    color: #fff;
    border-radius: 10%;
    border: none;
    margin-top: 50px;
}
.win{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #fff;
    border-radius: 5%; */
}
.hide{
    display: none;
}
.msg{
    font-size: 1.5rem;
    font-weight: 700;
    color: #7fff00;
    margin: 50px;
    background-color: #fff;
    border-radius: 10px;

}