body {
    font-family: 'Inter', sans-serif;
    background-color: #f0fff0; /* Light green background */
}
.calculator-container {
    display: none;
    border: 1px solid #8fbc8f; /* Darker green border */
    padding: 15px;
    margin-bottom: 20px;
    background-color: #e0eee0; /* Lighter green background */
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.calculator-container.active {
    display: block;
}
h1, h2 {
    color: #2e8b57;
}
label {
    display: block;
    margin-bottom: 0.25rem;
    color: #36454f;
}
input[type="text"], input[type="number"] {
    width: calc(100% - 12px);
    padding: 0.5rem;
    margin-bottom: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
    text-align: left;
}
input[type="range"] {
    width: calc(100% - 70px);
}
button {
    background-color: #3cb371;
    color: white;
    padding: 0.625rem 0.9375rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
button:hover:not(:disabled) {
    background-color: #2e8b57;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
button:disabled {
    background-color: #a0a0a0;
    cursor: not-allowed;
}
.result {
    margin-top: 0.75rem;
    font-weight: bold;
    color: #228b22;
}
#calculatorOptions button {
    margin-right: 0.625rem;
    margin-bottom: 0.5rem;
}
#savedResults {
    margin-top: 1.25rem;
    border: 1px solid #8fbc8f;
    padding: 0.9375rem;
    background-color: #f5f5dc;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.chart-container {
    margin-top: 1.25rem;
    width: 95%;
    max-width: 600px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
}
.number-name {
    margin-top: 0.625rem;
    font-style: italic;
    color: #778899;
}
/* Responsive adjustments */
@media (max-width: 640px) {
    .calculator-container, #savedResults {
        padding: 10px;
        margin: 10px;
    }
    input[type="text"], input[type="number"], input[type="range"] {
        width: 100%;
    }
    input[type="range"] {
        width: calc(100% - 70px);
    }
    #calculatorOptions button {
        display: block;
        width: 100%;
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
}
.text-3xl{
    text-align: center;
}
